﻿html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.container {
    width: 100%;
    float: left;
    clear: left;
}

.p5 {
    padding: 5px;
}


.p10 {
    padding: 10px;
}


div[class^='col-'] {
    float: left;
    box-sizing: border-box;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

.col-10 {
    width: 100%;
}


.token-text {
    width: 100%;
}
